.book {
    padding: 50px 0;
  
    .main-text {
      text-align: center;
      margin-bottom: 50px;
  
      h1 {
        font-size: 3rem;
        font-weight: bold;
        color: #ffffff;
      }
    }
  
    .row {
      flex-wrap: nowrap;
  
      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
  
      .col-lg-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        @media (max-width: 768px) {
          text-align: center;
          align-items: center;
        }
  
        h2 {
          font-size: 2rem;
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 30px;
        }
  
        p {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 20px;
          color: #ffffff;
        }
      }
  
      .cardphoto {
        @media (max-width: 768px) {
          width: 100%;
          margin-top: 30px;
          
        }
  
        .carousel-item {
          height: 600px;
          
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* Section Services Start */
.servicesss {
    margin-top: 50px;
    .bc-button{
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 10px; 
        }
    .container   {
        display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    }  
    .card {
      border: none;
      
      cursor: pointer;
      height: 200px;
      background-color: transparent;
      
      img {
        width: 150px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
      }
      
      & .img-clv {
        width: 120px;
        margin-right: 15px;
      }
      
      .card-body {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;        
        table {
          text-align: center;
          
          p {
            margin-top: 25px;
            font-size: 74px;
            font-weight: bold;
            color: #000;
          }
        }
      }
    }
    
    .prg {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    
    .ic-text h1,.bc-button {
      text-align: center;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 120px;
      color: #fff;
    }
  }
  
  
  $font-family: 'Inter', sans-serif;
  @mixin bold {
    font-weight: 700;
  }
  
  .materiel {
    font-size: 12px;
    font-family: $font-family;
    @include bold;
  }
  
  
  /* Responsive styles */
  @media (max-width: 767px) {
    .servicesss {
      .card {
        height: auto;
        
        img {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        
        & .img-clv {
          margin-right: 0;
          margin-bottom: 10px;
        }
        
        .card-body {
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
