.btn-primary-reservation {
  padding: 17px 40px;
  border: 0;
  background-color: #0465e3;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  letter-spacing: 3px;
  background-color: #ff0606af;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(138, 0, 0) 0px 7px 29px 0px;
}

.btn-primary-reservation:active {
  letter-spacing: 3px;
  background-color: hsl(147, 50%, 47%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 153 0) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
